header {
    font-size: 36px;
    color: blue;
}

.subtitle,
.listTitle {
    font-size: 20px;
    color: orange;
}

div.top {
    margin-top: 20px;
}

div.main {
    margin-top: 20px;
}

div.main>ul>li {
    color: blue;
}

div.main>ul>li>ul,
div.main>ul>li>ol {
    color: black;
}

div.main>ul>li>ul>li:first-child {
    color: red;
}