html, body {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.item {
    width: 100%;
}

.green {
    order: 3;
    flex-grow: 1;
    background-color: green;
}

.yellow {
    order: 2;
    flex-grow: 2;
    background-color: yellow;
}

.purple {
    order: 1;
    flex-grow: 1;
    background-color: purple;
}
